body {
    margin: 10px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: #c9d4da;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    background: #4b5b78;
    color: white;
    padding: 14px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tasker ul,
.tasker li,
.tasker .error,
.tasker button,
.tasker input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

.todo-header button,
.todo-lists .task button {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.tasker {
    max-width: 400px;
    margin: 0 auto;
}

.tasker .error {
    display: none;
    background: #ff4747;
    color: #fff;
    padding: 14px;
    text-align: center;
}

.tasker ul {
    background: #a5c1cd;
}

.tasker li,
.tasker .error,
.tasker button,
.tasker input {
    font: 18px/1.25em 'Lato', sans-serif;
}

.todo-header {
    display: inline-flex;
    background: white;
    justify-content: space-between;
    width: 100%;
}

#input-task {
    color: black;
}

.todo-header input,
.todo-header button {
    color: #fff;
    box-sizing: border-box;
    font-size: 1.25em;
    padding: 14px;
}

.todo-header input {
    flex-grow: 2;
}

.todo-header button {
    background: #00b934;
    border-left: 1px solid #098009;
}

.todo-header button:hover {
    background: #5cb85c;
}

.todo-lists .task {
    display: block;
    position: relative;
    padding: 14px 40px 14px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-lists .task:last-child {
    border-bottom: none;
}

.todo-lists .task:hover>button {
    opacity: 1;
}

.todo-lists .task.completed {
    color: #cdcdcd;
    text-decoration: line-through;
}

.todo-lists .task input {
    margin-right: 10px;
}

.todo-lists .task button {
    color: #cdcdcd;
    margin: 14px;
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0;
}

.todo-lists .task button:hover {
    color: #ed1c24;
}

.controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #6a7686;
}

.controls {
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}

.controls select#filter {
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #2D5CFE 0%, #1798fb 100%);
}

.controls select#filter option {
    background-color: #1798fb;
}

.controls .clear-btn {
    border: none;
    opacity: 0.6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0.3px;
    transition: transform 0.25s ease;
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
}

.clear-btn.active {
    opacity: 0.9;
    pointer-events: auto;
}

.clear-btn:active {
    transform: scale(0.93);
}

#modal-wrapper * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

#modal-wrapper body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 100vh;
}

#modal-wrapper .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 450px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
}


#modal-wrapper .modal .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modal-wrapper .modal input {
    padding: 0.7rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9em;
}

#modal-wrapper .modal p {
    font-size: 0.9rem;
    color: #777;
    margin: 0.4rem 0 0.2rem;
}

#modal-wrapper button {
    cursor: pointer;
    border: none;
    font-weight: 600;
}

#modal-wrapper .btn {
    display: inline-block;
    padding: 0.8rem 1.4rem;
    font-weight: 700;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

#modal-wrapper .btn-open {
    position: absolute;
    bottom: 150px;
}

#modal-wrapper .btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    background: #eee;
    border-radius: 50%;
}

#modal-wrapper .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

#modal-wrapper .modal {
    z-index: 2;
}

#modal-wrapper .hidden {
    display: none;
}
