/* 
body {
    background: #f1f1f1;
    margin-top: 2rem;
}
*/

body {
    margin: 10px;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background: #c9d4da;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    background: #4b5b78;
    color: white;
    padding: 14px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


.tasker ul,
.tasker li,
.tasker .error,
.tasker button,
.tasker input {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

.todo-header button,
.todo-lists .task button {
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
}

.tasker {
    max-width: 400px;
    margin: 0 auto;
}

.tasker .error {
    display: none;
    background: #ff4747;
    color: #fff;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.tasker ul {
    background: #a5c1cd;
}

.tasker li,
.tasker .error,
.tasker button,
.tasker input {
    font: 18px/1.25em 'Lato', sans-serif;
}

.todo-header {
    display: inline-flex;
    background: white;
    justify-content: space-between;
    width: 100%;
}

#input-task {
    color: black;
}

.todo-header input,
.todo-header button {
    color: #fff;
    box-sizing: border-box;
    font-size: 1.25em;
    padding: 14px;
}

.todo-header input {
    flex-grow: 2;
}

.todo-header button {
    background: #00b934;
    border-left: 1px solid #098009;
}

.todo-header button:hover {
    background: #5cb85c;
}

.todo-lists .task {
    display: block;
    position: relative;
    padding: 14px 40px 14px 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.todo-lists .task:last-child {
    border-bottom: none;
}

.todo-lists .task:hover>button {
    opacity: 1;
}

.todo-lists .task.completed {
    color: #cdcdcd;
    text-decoration: line-through;
}

.todo-lists .task input {
    margin-right: 10px;
}

.todo-lists .task button {
    color: #cdcdcd;
    margin: 14px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.todo-lists .task button:hover {
    color: #ed1c24;
}

.controls, li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #6a7686;
}
.controls{
    padding: 18px 25px;
    border-bottom: 1px solid #ccc;
}
.filters span{
    margin: 0 8px;
    font-size: 17px;
    color: white;
    cursor: pointer;
}
.filters span:first-child{
    margin-left: 0;
}
.controls .clear-btn{
    border: none;
    opacity: 0,6;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 4px;
    letter-spacing: 0,3px;
    pointer-events: none;
    transition: transform 0,25s ease;
    background: linear-gradient(135deg, #1798fb 0%, #2D5CFE 100%);
}
.clear-btn.active{
    opacity: 0.9;
    pointer-events: auto;
}
.clear-btn:active{
    transform: scale(0.93);
}